.container {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: aquamarine;
}

#bat {
  transform: rotateY(180deg) rotateZ(70deg);
  animation: bat 1s infinite alternate;
}

#ball {
  width: 50px;
  height: 50px;
  position: relative;
  top: 360px;
  left: 200px;
  animation: ball 1s infinite alternate;
  animation-delay: 0.2s;
}

@keyframes bat {
  0% {
    transform: rotateY(180deg) rotateZ(70deg);
  }

  100% {
    transform: rotateY(180deg) rotateZ(110deg);
    transform-origin: right center;
  }
}

@keyframes ball {
  0% {
    top: 403px;
  }
  0% {
    top: 403px;
  }
  100% {
    top: 100px;
  }
}
